@import '../vars.css';

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--black05);
        cursor: pointer;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
    }

    &__close-btn {
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 8px;
        font-size: 24px;
        color: var(--white);

        &:hover {
            color: var(--black05);
        }
    }

    &__window {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    &__content {
        display: inline-block;
        position: relative;
        background: var(--white);

        &_with-description {
            padding-right: var(--popupDescriptionWidth);
        }
    }

    &__description {
        width: var(--popupDescriptionWidth);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        padding: 30px;
        text-align: left;
        word-wrap: break-word;
    }
}
