{
  "extends": "eslint:recommended",
  "globals": {
    "jQuery": true,
    "$": true,
    "_": true,
    "VK": true,
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
    "indent": ["error", 4],
    "no-multi-spaces": "error",
    "newline-after-var": ["error", "always"]
  }
}
