@import './vars.css';

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--anthracite);
    background-color: var(--lightGrey);
    min-width: 900px;
}

.mt0 {
    margin-top: 0 !important;
}

.mt20 {
    margin-top: 20px !important;
}

.alert-fix {
    margin: 0 14px;
    font-size: 14px;
}
