@import './vars.css';

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: var(--lightGrey);
    min-width: 900px;
}

.mt0 {
    margin-top: 0 !important;
}
